*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin:0;
}
a,body{
    color: hsl(0, 0%, 100%);
}
nav,#intro-main,#early-access{
    background-color: hsl(217, 28%, 15%);
}
nav{
    display: flex; 
    justify-items: end;
    padding:3%;
}

.nav-links{
    margin-left: auto;      
}
.nav-logo{
width:fit-content;
}
.link,.productive-link{
    text-decoration: none;
}

.link{
    text-decoration: none;
    font-size: small;
    margin-right: 0.5em;
}
main{
    background-color: hsl(218, 28%, 13%);
}
h1,nav,h2,h3,button{
    font-family: 'Raleway', sans-serif;
}
h1{
    line-height: 1.5;

}
h1,.intro-p,h3,.features-p-1,.features-p-2,.features-p-3,.features-p-4{
    text-align: center;  
}
.intro-p{
    margin:auto;
    width:85%;
    margin-bottom: 10%;
}

.intro-image,.productive-img{
    display: block;
    margin:auto;
    max-width:100%;
    height:auto; 
}
.intro-content{
    background-image: url(images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
}
.intro-btn,.feature-icon{
    display: block;
    margin:auto;
}
.intro-btn{
    width:250px;
    padding: 15px 10px;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white; 
    transition: 0.5s;     
}
.intro-btn:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 #features{
     display: flex;
     flex-direction: column;
     align-items:center ;
     flex-wrap: wrap;
     margin-top:10%;
 }

 .features1,.features2,.features3,.features4{
     width:80%;
 }
 
 #productive{
     padding-left: 5%;
 }
 .productive-p{
     width: 85%;
 }

 .productive-link{
     line-height: 2;
     color: hsl(176, 68%, 64%);
 }
 .productive-link:after{
    display: block;
    content: '';
   width: 39%;
   height: 1px;
   background: hsl(176, 68%, 64%);
   bottom: 0;
   left: 0;
 }
#testimonials{
    background-color:  hsl(219, 30%, 18%);
}
.profile-pic{
    border-radius: 50%;
}

footer{
    background-color: hsl(216, 53%, 9%);
}

@media(min-width:800px){
    .intro-content{
        background-image: url(images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
    }
    h1{
        margin: auto;
        font-size:xx-large;
        padding-top: 2%;
        padding-bottom: 3%;
        width:40%;
    }
    .intro-p{
        font-size: large;
        width: 35%;
        margin-bottom: 2%;
    }
    #features{
        display: flex;
        flex-direction: row;
        margin:auto;
        flex-wrap: wrap;
        margin-top:10%;
        width:80%;
    }
    .features1,.features2,.features3,.features4{
        width:50%;
        margin-bottom: 10%;
    }
   
    .features-p-1,.features-p-2,.features-p-3,.features-p-4{
        margin:auto;
        width:50%;

    }
    .feature-icon{
        margin-top: 5%;
    }
    #productive{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    h2{
        font-size:xx-large; 
        width:50%;
    }
    .productive-content{
        margin-top: 3%;
        margin-left: 5%;
        width:40%;
    }
    .productive-link:after{
        display: block;
        content: '';
       width: 150px;
       height: 1px;
       background: hsl(176, 68%, 64%);
       bottom: 0;
       left: 0;
     }
}